body {
    background-color: rgb(177, 0, 0);
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    justify-items: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.img {
    width: 400px;
    height: auto;
    margin-left: 223px;
    margin-top: 150px;
    border-radius: 50px;
    align-items: center;
}
    
.img2 {
    width: 400px;
    height: auto;
    margin-left: 500px;
    margin-top: -290px; 
    border-radius: 50px;
}
   
.img3 {
    width: 400px;
    height: auto;
    margin-left: 55px;
    margin-top: 150px;
}
 
.caja{
    position: relative;
    display: inline-block;
}


.texto1 {
    position: absolute;
    top: 310px;
    left: 13%;
    font-family: inherit;
    font-size: 35px;
    color: rgb(240, 8, 8);
}
    
.texto2 {
    position: absolute;
    top: 350px;
    left: 13%;
    font-family: inherit;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
    
.texto3 {
    position: absolute;
    top: 380px;
    left: 13%;
    font-family: inherit;
    font-size: 15px;
    color: hsl(0, 0%, 0%);
}
    
.texto4 {
    position: absolute;
    top: 380px;
    left: 60%;
    font-family: inherit;
    font-size: 15px;
    color: hsl(0, 0%, 0%);
}

.brand img {
    width: 75px;
    height: 75px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Cards*/
.container-card{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.title-cards{
    width: 100%;
    max-width: 1080px;
    margin: autos;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(0, 0, 255);
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:rgb(0, 0, 0);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card img{
    width: 450px;
    height: 550px;
}

.card .img2{
    width: 450px;
    height: 550px;
}

.card .contenido-card{
    padding: 15px;
    text-align: center;
}

.card .contenido-card h3{
    margin-bottom: 15px;
    color:rgb(0, 255, 217);
}

.card .contenido-card p{
    line-height: 1.8;
    color:rgb(249, 7, 7);
    font-size: 14px;
    margin-bottom: 5px;
}

.card .contenido-card a{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.card .contenido-card a:hover{
    background: #2fb4cc;
    color:black;
}


.flex-container {
  flex-wrap: wrap;
}

@media only screen and (min-width:320px) and (max-width:768px){
    .container-card1{
        flex-wrap: wrap;
    }
    .card1{
        margin: 15px;
    }
}

/*Footer*/
*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 7300px;
    width: 100%;
    position: relative;
}

footer{
    padding: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
    color: white;
    background-color: #121212;
}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo{
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover{
    opacity: 1;
}

.menu-title{
    font-size: var(--medium-text-font);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link{
    height: 100%;
    width: 30px;
    background-image: url(../../Imagenes/logo/TikTokBlanco.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover{
    opacity: 0.7;
}

footer .social-link:nth-of-type(2){
    background-image: url(../../Imagenes/logo/TwitterBlanco.png);
}

footer .social-link:nth-of-type(3){
    background-image: url(../../Imagenes/logo/InstagramBlanco.png);
}

footer .social-link:nth-of-type(4){
    background-image: url(../../Imagenes/logo/FacebookBlanco.png);
}


/*MEDIA QUERY*/
@media (max-width: 768px){
    
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container{
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1){
        align-items: flex-start;
    }
    .footer-content-container:nth-of-type(3){
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
    .footer-menus .footer-content-container:nth-of-type(2){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}